.single-post{
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-bottom: 10px;
}
.image-1{
    height: 220px;
    width: 100%;
    background: url("../Assests/images/post1.png") no-repeat;
    background-size: 100% 100%;
}
.image-2{
    height: 220px;
    width: 100%;
    background: url("../Assests/images/post2.png") no-repeat;
    background-size: 100% 100%;
}
.image-3{
    height: 220px;
    width: 100%;
    background: url("../Assests/images/post3.png") no-repeat;
    background-size: 100% 100%;
}
.post-text{
    padding: 10px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}
.type-post-desc1{
    width: 65px;
    height: 17px;
    background:url("../Assests/icons/✍️\ Article.png") no-repeat;
    background-size: 100% 100%;
}
.type-post-desc2{
    width: 65px;
    height: 17px;
    background:url("../Assests/icons/🔬️\ Education.png") no-repeat;
    background-size: 100% 100%;
}
.type-post-desc3{
    width: 65px;
    height: 17px;
    background:url("../Assests/icons/🗓️\ Meetup.png") no-repeat;
    background-size: 100% 100%;
}
.type-post-desc4{
    width: 50px;
    height: 16px;
    background:url("../Assests/icons/💼️\ Job.png") no-repeat;
    background-size: 100% 100%;
}
.title-post{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
}
.title-post p{
    width: 80%;
}
.title-post span{
    width: 10%;
    height: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}
.option-set{
    position: absolute;
    bottom: -100px;
    right: 0;
    font-weight: normal;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16), 0px 0px 2px rgba(0, 0, 0, 0.08);
border-radius: 4px;
font-size: 14px;
    width: 150px;
    background-color: white;
}
.option-set-class{
    padding: 5px;
}
.option-set-class:hover{
    background-color: rgb(209, 209, 209);
}
.image-name-views{
    display: flex;
    justify-content: space-between;
}
.image-name{
    display: flex;
    font-weight: 600;
    align-items: center;
    column-gap:5px ;
}
.views-share{
    display: flex;
    align-items: center;
    column-gap:5px ;
    font-weight: 500;
    font-weight: 600;
font-size: 13px;
}
.icon-eye{
    width: 15px ;
    height: 12px;
    background: url("../Assests/icons/eye.png") no-repeat;
    background-size: 100% 100%;
}
.date-location{
    height: 20px;
    font-style: normal;
font-weight: 500;
font-size: 13px;
    display: flex;
    column-gap: 10px;
}
.visit-website{
    height: 38px;
    background: #FFFFFF;
border: 0.7px dashed #A9AEB8;
box-sizing: border-box;
display: flex;
font-size: 14px;
font-weight: bold;
justify-content: center;
align-items: center;
border-radius: 8px;
cursor: pointer;
user-select: none;
color: #E56135;
}



















@media screen and (max-width:1000px) {
    .image-1{
        height: 190px;
    }
    .image-2{
        height: 190px;
    }
    .image-3{
        height: 190px;
    }
}
@media screen and (max-width:800px) {
    .image-1{
        height: 150px;
    }
    .image-2{
        height: 150px;
    }
    .image-3{
        height: 150px;
    }
    .title-post{
        font-size: 20px;
    }
}
@media screen and (max-width:500px) {
    .title-post{
        font-size: 18px;
    }
    .date-location{
        font-size: 12px;
    }
}